<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>All Ruby Jobs</title>
  </head>
  <body>
    <ul>
      <h2>Jobs from <a href="<%= base_url %>"><%= site_name %></a></h2>
      <% jobs.each do |job| %>
        <li>
          <a href="<%= job[:href] %>"><%= job[:title] %></a>
          <p><%= job[:misc] %></p>
        </li>
      <% end %>
    </ul>
    <%= footer %>
  </body>
</html>
